<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><img src="../../../assets/img/Logo-2@2x.png"/></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']"> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://opensource.org/licenses/MIT">
                  License
                </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact-us']">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://hashedin.com/culture/">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://hashedin.com/blog/">
                Blog
              </a>
            </li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/hashedin"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/hashedin"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://www.linkedin.com/company/hashedin/mycompany/"
              target="_blank"
            >
              <i class="fab fa-linkedin"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>