<app-navbar></app-navbar>
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal"
    id="myModal2" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
                    <i class="tim-icons icon-simple-remove text-white"> </i>
                </button>
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Create Batch</h3>
                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="batchForm" role="form">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative"
                            [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                            </div>
                            <input class="form-control" placeholder="Enter Batch Name" type="text"
                                [formControlName]="'batchName'" (blur)="focus1=false" />
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of allUsers">
                                <td class="td-actions text-left">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input (change)="onCheckChange($event)" class="form-check-input"
                                                type="checkbox" [value]="user.userId">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <button class="btn btn-primary my-4" type="button" (click)="createBatch(); myModal2.hide()">
                            Finalize & Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal3="bs-modal"
    id="myModal3" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal3.hide()" type="button">
                    <i class="tim-icons icon-simple-remove text-white"> </i>
                </button>
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Create Teams</h3>
                </div>
            </div>
            <div class="modal-body">
                Existing Teams:
                <ul>
                    <li>Dominators</li>
                    <li>Y Nots</li>
                    <li>Pop team</li>
                    <li>Pi team</li>
                </ul>
                <h4>Create new team</h4>
                <form [formGroup]="batchForm" role="form">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-alternative"
                            [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                </span>
                            </div>
                            <input class="form-control" placeholder="Enter new team's name" type="text"
                                [formControlName]="'batchName'" (blur)="focus1=false" />
                        </div>
                    </div>
                    <h4>Select Team Members</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of allUsers">
                                <td class="td-actions text-left">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input (change)="onCheckChange($event)" class="form-check-input"
                                                type="checkbox" [value]="user.userId">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h5>Select Section lead</h5>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="'Lead A'">
                            <span class="form-check-sign">
                                <span class="check">Lead A</span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="'Lead B'">
                            <span class="form-check-sign">
                                <span class="check">Lead B</span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [value]="'Lead C'">
                            <span class="form-check-sign">
                                <span class="check">Lead C</span>
                            </span>
                        </label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-primary my-4" type="button" (click)="createBatch(); myModal3.hide()">
                            Finalize & Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">


    <section class="section section-lg">
        <img class="shapes circle" src="../../../assets/img/cercuri.png" style="margin-top:10%" />
        <img class="shapes triangle" src="../../../assets/img/triunghiuri.png"
            style="margin-left: 80%;margin-top:10%;" />


        <div class="col-md-12">

            <div class="container">

                <div class="row mb-5">
                    <div class=" col-6 ">
                        <img class="batch-img" src="../../../assets/img/path4.png" />
                    </div>
                    <div class="col-6">
                        <h2>
                            Let's create a new HU Batch
                        </h2>
                        <p>
                            Is our hashedIn Family about to increase? Awesome! <br>
                            Go ahead and create a new HU batch for them. They deserve some fun Kuna activities.
                        </p>
                        <br>
                        <button class="btn btn-success" data-target="#myModal2" (click)="myModal2.show()">
                            Create Batch
                        </button>
                    </div>
                </div>
                <div class="row ">

                </div>
            </div>
        </div>

        <div class="mt-5 col-md-12">

            <div class="container">

                <div class="row mb-5">
                    <div class="col-6 text-right">
                        <h2>
                            Now it's time to create new teams for
                        </h2>
                        <p>
                            Choose any newly created HU batch and divide them in Teams
                        </p>
                        <br>
                        <!-- <div class="row"> -->
                        <form [formGroup]="teamsForm">
                            <label for="select-batch">Select a batch</label>
                            <select name="select-batch" class="form-control form-control-sm">
                                <option style="color: black;" value="batch.batchId" [formControlName]="batchId"
                                    *ngFor="let batch of allBatches">{{batch.batchName}}
                                </option>
                            </select>
                        </form>

                        <button class="btn btn-success" data-target="#myModal2" (click)="myModal3.show()">
                            Create Teams
                        </button>
                        <!-- </div> -->


                    </div>
                    <div class=" col-6 ">
                        <img class="batch-img" src="../../../assets/img/path2.png" />
                    </div>
                </div>
                <div class="row ">

                </div>
            </div>
        </div>


        <div class="col-md-12">

            <div class="container">
                <div class="row">

                    <div class="card">
                        <div class="card-header">
                            <tabset class="nav-tabs-primary">

                                <tab>
                                    <ng-template tabHeading>
                                        Add New Event
                                    </ng-template>

                                    <label for="select-batch">Select a batch</label>
                                    <select name="select-batch" class="form-control form-control-sm">
                                        <option style="color: black;" value="batch.batchId" [formControlName]="batchId"
                                            *ngFor="let batch of allBatches">{{batch.batchName}}
                                        </option>
                                    </select>
                                   
                                    <br>
                                    <label for="select-batch">Enter Event</label>
                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Add Event Name" type="text"
                                            (blur)="focus1=false" />
                                    </div>
                                    <label for="select-batch">Enter event Zoom Link</label>
                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Zoom Link" type="text"
                                            (blur)="focus1=false" />
                                    </div>
                                    <br>
                                    <label for="select-batch">Enter event time</label>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="input-group input-group-alternative"
                                                [ngClass]="{'input-group-focus':focus1===true}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                    </span>
                                                </div>
                                                <input class="form-control" placeholder="Event Date" type="text"
                                                    (blur)="focus1=false" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group input-group-alternative"
                                                [ngClass]="{'input-group-focus':focus1===true}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                    </span>
                                                </div>
                                                <input class="form-control" placeholder="Start Time" type="text"
                                                    (blur)="focus1=false" />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-group input-group-alternative"
                                                [ngClass]="{'input-group-focus':focus1===true}">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                    </span>
                                                </div>
                                                <input class="form-control" placeholder="End Time" type="text"
                                                    (blur)="focus1=false" />
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary my-4" type="button"
                                        (click)="createBatch(); myModal2.hide()">
                                        Add Event
                                    </button>
                                </tab>
                                <tab>
                                    <ng-template tabHeading>
                                        Manage team Score
                                    </ng-template>
                                    <label for="select-batch">Select a batch</label>
                                    <select name="select-batch" class="form-control form-control-sm">
                                        <option style="color: black;" value="batch.batchId" [formControlName]="batchId"
                                            *ngFor="let batch of allBatches">{{batch.batchName}}
                                        </option>
                                    </select>
                                    <br>
                                    <label for="select-batch">Select a Team</label>
                                    <select name="select-batch" class="form-control form-control-sm">
                                        <option style="color: black;" value="batch.batchId" [formControlName]="batchId"
                                            *ngFor="let batch of ['team a', 'team b']">{{batch.batchName}}
                                        </option>
                                    </select>
                                    <br>
                                    <label for="select-batch">Select a past Event</label>
                                    <select name="select-batch" class="form-control form-control-sm">
                                        <option style="color: black;" value="batch.batchId" [formControlName]="batchId"
                                            *ngFor="let batch of ['team a', 'team b']">{{batch.batchName}}
                                        </option>
                                    </select>
                                    <br>
                                    <div class="input-group input-group-alternative"
                                        [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Add Score" type="text"
                                            (blur)="focus1=false" />
                                    </div>
                                    <br>
                                    <button class="btn btn-primary my-4" type="button"
                                        (click)="createBatch(); myModal2.hide()">
                                        Finalize and add Score
                                    </button>
                                </tab>
                            </tabset>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>